[Unit]
Description=Docker Bind container
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=infinity
TimeoutStopSec=10
ExecStartPre=/usr/bin/docker run -d -it --init --rm -p 53:53/udp --name Bind --hostname Bind ghcr.io/fernandoenzo/bind:latest
ExecStart=/usr/bin/docker logs -f Bind
ExecStop=-/usr/bin/docker stop Bind
SuccessExitStatus=143
Restart=always

[Install]
WantedBy=multi-user.target

